

{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">

    <main class="pt-5">

        <div class="row g-3">

            <div class="col-md-5 col-lg-5 order-md-first bg-light">
            
                <img class="img-fluid mx-auto d-block" alt="Responsive image" src="{{ product.full_image_url }}"> <!-- Product image -->
            
            </div>

            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">

                <h1 class="mb-0 h4"> {{product.name}}</h1>

                <strong>{{product.brand}}</strong>


                <hr>

                <br>


                <p> {{product.description}} </p>

                <div class="border">

                    <div class="col border-bottom">

                        <div class="row">
                            <div class="col-6 text-start">
                                <strong>Price</strong>
                            </div>
                            <div class="col-6 text-end">
                                {% if product.discount %}
                                    <span class="text-danger fw-bold text-decoration-line-through">
                                        ${{ product.price }}
                                    </span>
                                    <span class="badge bg-info ms-2">Discount</span>
                                    <span class="h4 fw-bold ms-2 text-success">
                                        ${{ product.get_discount_price }}
                                    </span>
                                {% else %}
                                    <span class="h4 fw-bold">
                                        ${{ product.price }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        
                    </div>

                    <div class="col">
              
                        <div class="row p-3">
              
                            <div class="col-6">
              
                               
                                <label for="select">Qty</label>
                                
                                &nbsp; 
                               
                                <select id="select">
              
                                    <option value="1">1</option>
              
                                    <option value="2">2</option>
              
                                    <option value="3">3</option>
              
                                    <option value="4">4</option>
              
                                </select>

                            </div>

                            <div class="col-6 text-end">
                                
                                <button type="button" id="add-button" value="{{ product.id }}" class="btn btn-secondary btn-sm">
                        
                                Add to cart 
                            
                                </button> 
                            

                            </div>
                        
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </main>

    <br>
    <div id="review-form">
        <h3>Write a Review</h3>
        <button 
            hx-get="{% url 'create_review' product.id %}" 
            hx-target="#review" 
            hx-swap="innerHTML" 
            onClick="document.getElementById('review-form').style.display='none';"
        >
            Add Review
        </button>
    </div>
    
    <div id="review">
        <!-- This is where the review form will be injected -->
    </div>
    
    
    {% include 'snippets/review_snippet.html' with reviews=reviews %}
</div>
<script>
    $(document).on('click', '#add-button', function(e) {
        e.preventDefault();

        // Get CSRF token from the cookie
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        $.ajax({
            type: 'POST',
            url: '{% url "add_to_cart" %}',
            headers: {
                'X-CSRFToken': csrftoken
            },
            data: {
                product_id: $('#add-button').val(),
                product_qty: $('#select option:selected').val(),
            },
            success: function(response) {
                document.getElementById('lblCartCount').innerHTML=response.qty
                const add_button = document.getElementById('add-button')
                add_button.disabled = true
                add_button.innerText = 'Added to cart'
                add_button.className = 'btn btn-success btn-sm'
            },
            error: function(xhr, status, error) {
                alert('An error occurred while adding the product to the cart.');
                console.error(error);
            }
        });
    });
</script>

{% endblock %}