django
python-decouple
pillow
django-mathfilters
django-crispy-forms
crispy-bootstrap5
django-email-verification
stripe
yookassa
django-google-fonts
celery
redis
django-celery-beat
django-celery
django-celery-results
flower
WeasyPrint
faker
django-htmx
sorl-thumbnail
djangorestframework
djoser
djangorestframework_simplejwt
drf_yasg
psycopg2-binary