{% load thumbnail%}
{% for product in products %}

{% if forloop.last %}
<div class="col" hx-get="{% url 'product_list' %}?page={{ page_obj.number|add:1 }}" hx-trigger="revealed"
    hx-swap="afterend">
    {% else %}
    <div class="col">
        {% endif %}
        <a class="text-black text-decoration-none fs-4" href="{{product.get_absolute_url}}">
            <div class="card shadow-sm h-100">
                {% thumbnail product.image "400x400" as im %}
                <img class="img-fluid h-100" alt="Responsive image" src="{{ im.url }}" />
                {% endthumbnail %}
                <div class="card-body">
                    <p class="card-text">
                        {{product.title|capfirst}}
                    </p>
                    <div class="col-6 text-end">
                        {% if product.discount %}
                            <span class="text-danger fw-bold text-decoration-line-through">
                                ${{ product.price }}
                            </span>
                            <span class="badge bg-info ms-2">Discount</span>
                            <span class="h4 fw-bold ms-2 text-success">
                                ${{ product.get_discount_price }}
                            </span>
                        {% else %}
                            <span class="h4 fw-bold">
                                ${{ product.price }}
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
    </div>
{% endfor %}